@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&family=Montserrat:ital,wght@0,400;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


:root {
    --background-navbar: rgb(246, 243, 244);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition-timing-function: ease;
}

header {
    background-color: rgb(255, 243, 232) ;
    box-shadow: 2px 2px 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 60px 0px 115px;
    position: fixed;
    top: 0;
    z-index: 1;
}

header a {
    color: black;
}
/* animacion */

header:hover {
    background: linear-gradient( var(--background-navbar), var(--background-navbar),var(--background-navbar),var(--background-navbar), var(--background-navbar),var(--background-navbar), rgba(235, 224, 224, 0));
    transition: all 0.3s ease-in;
}

.header__div1 {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.header__div1 p,
.header__div1 span{
    display: flex;
    flex-direction: column;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
}

header img {
    width: 45px;
}

.navbar,
.navbar__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.navbar__a {

    color: rgb(123, 18, 18);
    padding: 8px 10px;
    border-radius: 6px;
}

.navbar__icons {
    list-style-type: none;
    width: 60px;
    padding: 0 20px 0 80px;
    display: flex;
    justify-content: space-between;
}

.fa-user,
.fa-solid {
    color: rgb(123, 18, 18);
    padding: 10px 11px;
    border-radius: 30px;
}

.fa-location-dot {
    color: rgb(123, 18, 18);
    padding: 10px 12px;
    border-radius: 25px;
}


/* CHECKBOX */

#menu__toggle,
#location,
.menu__label {
    display: none;
}

.div__location {
    position: absolute;
    top: 70px;
    right: 0;
    /* width: 100%; */
    width: 70%;
    padding: 80px;
    background: rgba(5, 7, 12, 0.8);
    /* border-left: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
}

.div__location::-webkit-scrollbar {
    display: none;
}

.div__location h3 {
    text-align: center;
    color: white;

}

.div__location img {
    width: 600px ;
}
.div__location a {
    color: white;
    background: rgb(141, 130, 130);
    padding: 10px 20px ;
    border-radius: 15px;
}

#location:checked + .div__location{
    display: flex;
    transition: all 0.3s ease-in;
}





main {
    background: linear-gradient(to left, black, rgb(123, 18, 18) );
}

#inicio img {
    width: 100%;
}

#inicio {
    min-height: 100vh;
    background: url(./img/portada-1.jpg) center;
    background-size: cover;
}

.inicio__div1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
    bottom: 250px;
    right: 100px;
}

.inicio__div1:nth-child(3){
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
    bottom: 250px;
    right: 100px;
}

#q-b {
    padding: 70px 60px 170px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

#q-b h2 {
    padding: 0 0 0 200px;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 3px black;
}

.q-b__palets {
    display: flex;
    justify-content: center;
    gap: 30px;
}

 .q-b__palet {
    color: white;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 240px;
    padding: 20px;
    border-radius: 150px;
    gap: 40px;
    cursor: pointer;
 }

.q-b__palet img {
    width: 200px;
    border-radius: 100px;
}

#destacados {
    background: rgb(255, 255, 255);
    padding: 70px 0;

}

#destacados h2 {
    padding: 0 0 0 100px;
    font-size: 30px;
}

.destacados__cards {
    margin: 50px auto;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.destacados__card {

    background: linear-gradient(black, black, rgb(123, 18, 18)); 
    width: 340px;
}

.destacados__card img {
    margin: 3px;
    width: 334px;
    height: 280px;
    border-radius: 2px;
    cursor: pointer;
}

.destacados__card__info {
    padding: 0px 20px 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.destacados__card__info h3{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}

.destacados__card__info p {
    color: rgb(196, 196, 196);
    font-weight: 500;
    font-size: 10;
    padding: 0 5px;
}

.destacados__card__price {
    margin: 12px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destacados__card__price p {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}

.destacados__card__price p span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(121, 121, 121);
}

.destacados__card__btn {
    background: rgb(255, 255, 255);

    color: rgb(123, 18, 18);
    border: 1px solid rgb(198, 110, 110);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 30px;
    width: 130px;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
}

#beneficios {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 60px 0;
    padding: 80px 50px 80px;
    gap: 100px;
    background: rgba(251, 251, 251, 0.1);
}

#beneficios h2 {
    font-size: 30px;
    text-shadow: 1px 1px 10px white;

}

.beneficios__div1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
}

.beneficios__div1 p{
    max-width: 850px;
    font-size: 17px;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    font-family: 'Michroma', sans-serif;

}

.beneficios__div1 p span {
    font-family: 'Audiowide', cursive;
}

.beneficios__lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
}

.beneficios__lista li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.beneficios__lista li img {
    height: 14px;
}

.form {
    padding: 0px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

 .contact__form button {
    background: linear-gradient(to left, black, rgb(123, 18, 18));
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.form__input {
    width: 250px;
    padding: 10px 20px;
    border-radius: 10px;
}

.form__input--consult {
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 248px;
    height: 180px;
    resize: none;
}


.contact__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 60px 0;
    padding: 50px;
    gap: 25px;
    height: 100vh;
    /* background: rgba(251, 251, 251, 0.1); */
    color: white;
}

/* .contact__form h2 {
    color: white;
} */

#footer,
#contact {
    background-color: rgb(0, 0, 0);
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 11px;
    color: white;
}

.footer__name h3{
    color: rgb(74, 64, 64);
    font-family: 'Audiowide', cursive;


}

.footer__redes {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.footer__redes__icons a {
    margin-top: 20px;
    color: rgb(123, 18, 18);
}